@import url("../../styles/base.css");
@import url("../../styles/queries.css");

.sidebar {
  height: 100%;
  left: 0;
  padding-left: 10px;
  overflow: hidden;
  padding-right: 0px;
  position: relative;
  z-index: 0;

  flex-direction: column;
  order: 2;
  flex: 1;
  
}
.btn {
  position: absolute;
  right: 0;
}

  @media (--screen-phone-lg) {
    display: block;
    flex-direction: row;
    order: 1;
    flex: 1;
  }

  .heading {
    flex: 1;
    margin-top: 10px;
    padding-left: 10px;
    overflow: hidden;
    padding-right: 0px;
    border-bottom: 1px solid #000000; 
    padding: 0 10px;
  }

