@import url("../../styles/base.css");

.topbar {
  background-color: #1e3e33;
  height: 80px;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #1e3e33;
    line-height: 40px;
}
    
h1 {
    font-size: 28px;
    display: inline;
    margin: -15px 0 auto 15px;
    line-height: 50px;
    position: absolute;
    top: 30px;
 }
  
section {
  position: absolute;
  top: 0px;
  right: 25px;
  display: inline-flex;
}