@import url("../../styles/base.css");

.topbar {
  background-color: #1e3e33;
  height: 80px;
  z-index: 20;
  top: 0;
  left: 25;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
}

.newLogo2 {
  margin-left: 20px;
  margin-top: 5px;
}

a {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #1e3e33;
    line-height: 40px;
}
    
.topbar h1 {
  font-family: 'Merriweather', serif;
    font-size: 36px;
    display: inline;
    margin: -15px 0 auto 15px;
    line-height: 50px;
    position: absolute;
    top: 30px;
 }
  
section {
  font-family: 'Merriweather', serif;
  position: absolute;
  top: 0px;
  right: 25px;
  display: inline-flex;
}